# CLOUD (JSM)
JIRA_CLOUD_URL=https://your-cloud.atlassian.net
JIRA_CLOUD_EMAIL=your-email
JIRA_CLOUD_API_TOKEN=your-token

# ON-PREM
JIRA_ONPREM_URL=http://your-onprem-url
JIRA_ONPREM_USERNAME=your-username
JIRA_ONPREM_PASSWORD=your-password